# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# IAR Embedded Workbench
bsl/CryptoBootloader_1_00_00_01/Sample_App/BrowseInfo/
bsl/CryptoBootloader_1_00_00_01/Sample_App/FR5994/
bsl/CryptoBootloader_1_00_00_01/firmware/MSP430FR59xx_69xx/IAR/CryptoBSL/BrowseInfo/
bsl/CryptoBootloader_1_00_00_01/firmware/MSP430FR59xx_69xx/IAR/CryptoBSL/FR5994_Crypto/
bsl/CryptoBootloader_1_00_00_01/firmware/MSP430FR59xx_69xx/IAR/CryptoBSL/FR5994_StandardwCrypto/
